/* Custom scrollbar for overflow-y-auto */
.overflow-y-auto::-webkit-scrollbar {
  width: 4px;
}

.overflow-y-auto::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background-color: #cbd5e0;
  border-radius: 4px;
}

.dark .overflow-y-auto::-webkit-scrollbar-thumb {
  background-color: #4b5563;
}

/* Style untuk input date di dark mode */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1) brightness(0.7);
}

/* Untuk Firefox */
input[type="date"] {
    color-scheme: dark;
}
