:root {
  --primary: rgba(30, 30, 30, 1);
  --secondary: rgb(241, 129, 37);
  --shades: rgba(238, 238, 238, 1);
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Code Pro", monospace;
  line-height: 1.6;
  margin: 0;
}

.header,
.home,
.about,
.portfolio,
.contact {
  height: 100vh;
}

.header h1,
.footer h1 {
  color: var(--shades);
}

.footer {
  height: 50vh;
  background-color: var(--primary);
}

.header {
  height: 100vh;
  background-color: var(--primary);
  display: column;
}

.navbar {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: var(--primary);
  -webkit-box-shadow: 0 14px 14px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 14px 14px -14px rgba(0, 0, 0, 0.75);
  box-shadow: 0 14px 14px -14px rgba(0, 0, 0, 0.75);
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.hidden {
  display: none;
}

.display__logo {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

.nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__link {
  color: var(--shades);
  text-decoration: none;
}

.brand {
  margin: 0;
  font-size: 1.45em;
}

.brand a {
  padding: 10px 15px;
  display: block;
}

.logo {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
}

.logo::before {
  content: "";
  display: inline-block;
  width: 40px; /* Sesuaikan ukuran */
  height: 40px; /* Sesuaikan ukuran */
  background: url("./assets/logo.jpg") no-repeat center center;
  background-size: cover; /* Pastikan gambar sesuai */
  border-radius: 50%; /* Membuat ikon bulat */
  vertical-align: middle; /* Menyesuaikan dengan teks */
  margin-right: 8px; /* Beri jarak dengan teks */
}

.nav__items {
  margin-top: 5px;
}

.brand .nav__link,
.nav__items .nav__link {
  padding: 10px 15px;
  display: block;
}

.nav__items .nav__link {
  color: var(--shades);
  font-size: 0.99rem;
}

.nav__items .nav__link:hover {
  color: var(--secondary);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.wrapper {
  height: 100vh;
  display: grid;
}

.typing-demo {
  font-family: monospace;
  font-size: 1.9em;
  width: 350px;
  height: 150px;
  border-radius: 30px;
  border: 2px solid var(--shades);
  padding: 20px;
}

.cursor {
  display: inline-block;
  width: 10px;
  animation: blink 0.7s steps(2, start) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.hero-text{
  display: block;
  font-weight: bolder;;
  color: #ffffff !important;
  font-size: 4.5rem;
  width: auto;
}

/* .hero-title{
  
} */

.hero-subtitle{
  font-weight: bolder;;
  color: var(--primary) !important;
  -webkit-text-stroke: 1px #ffffff;
  font-size: 3.5rem;
  width: 400px;
  height: 250px;
}

/* Container untuk terminal */
.terminal-container {
  width: 400px;
  height: 250px;
  background-color: #2e3436; /* Warna latar belakang terminal */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  font-family: "Courier New", Courier, monospace; /* Font terminal */
  color: #ffffff; /* Warna teks */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
}

/* Header terminal */
.terminal-header {
  display: flex;
  align-items: center;
  background-color: #000000;
  padding: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Titik warna (seperti pada terminal Linux) */
.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
  display: inline-block;
}

.red {
  background-color: #f24e1e;
}

.yellow {
  background-color: #f9c422;
}

.green {
  background-color: #4cd137;
}

/* Title di header terminal */
.terminal-header .title {
  flex-grow: 1;
  font-size: 15px;
}

/* Body terminal */
.terminal-body {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #1e2422; /* Latar belakang body terminal */
  color: #ebebeb; /* Warna teks terminal */
  font-size: 14px;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  width: 80%;
}



.hero-image {
  width: 50px;
  height: 50px;
  background: url("./assets/logo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
  border-radius: 50%;
  transform-style: preserve-3d;
  animation: spin 5.1s linear infinite;
  border: 1px solid white;
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  20% {
    transform: rotateY(360deg);
  } /* Putar cepat dalam 0.1 detik */
  100% {
    transform: rotateY(360deg);
  } /* Tahan posisi selama 5 detik */
}

@media (min-width: 800px) {
  .navbar,
  .nav__items {
    display: flex;
  }
  .nav{
    justify-content: center !important;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar {
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (max-width: 799px) {
  .nav {
    display: none;
  }

  .terminal-container{
    display: none;
  } 

  .hero-section{
    padding: 10px;
    width: 100vw;
    height: auto;
    padding: 10px;
  }
  
  .hero-text {
    width: 100vw;
  }

  .hero-subtitle{
    /* display: flex;
    justify-content: center;
    text-align: center; */
    font-weight: 900;;
    font-size: 5rem;
    width: auto;
    height: 260px;
    
  }


  .nav .nav__items {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding-inline-start: 0;
  }

  .nav .nav__items .nav__item {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }

  .nav .nav__items .nav__item:nth-child(1) a {
    transition-delay: 0.2s;
  }

  .nav .nav__items .nav__item:nth-child(2) a {
    transition-delay: 0.3s;
  }

  .nav .nav__items .nav__item:nth-child(3) a {
    transition-delay: 0.4s;
  }

  .nav .nav__items .nav__item:nth-child(4) a {
    transition-delay: 0.5s;
  }

  .nav .nav__items .nav__item:not(:first-child) {
    margin-left: 0;
  }

  .nav .nav__items .nav__item .nav__link {
    padding: 10px 25px;
    opacity: 0;
    color: var(--shades);
    font-size: 24px;
    font-weight: 600;
    transform: translateY(-20px);
    transition: all 0.2s ease;
  }

  .nav .nav__items .nav__item .nav__link:hover {
    color: var(--secondary);
  }

  .nav__open {
    position: absolute;
    right: 10px;
    top: 16px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }

  .nav__open i {
    display: block;
    width: 20px;
    height: 2px;
    background-color: var(--secondary);
    border-radius: 2px;
    margin-left: 14px;
  }

  .nav__open i:nth-child(1) {
    margin-top: 16px;
  }

  .nav__open i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }

  .nav__open i:nth-child(3) {
    margin-top: 4px;
  }

  .wrapper {
    height: 100vh;
    display: block;
    place-items: center;
  }
}

#nav:checked ~ .nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: var(--primary);
  opacity:  0;
  transition: all 0.2s ease;
}

#nav:checked + .nav__open {
  transform: rotate(45deg);
  position: fixed;
}

#nav:checked + .nav__open i {
  background-color: var(--shades);
  transition: transform 0.5s ease;
}

#nav:checked + .nav__open i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav__open i:nth-child(2) {
  opacity: 0;
}

#nav:checked ~ .nav__item a {
  display: block !important;
}

#nav:checked + .nav__open i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav ul li a {
  opacity: 1;
  transform: translateY(0);
}

.snap-scroll {
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory; /* Snap scroll secara vertikal */
}

.header, .home , .about, .portfolio, .contact {
  scroll-snap-align: start;
  height: 100vh; /* Pastikan setiap elemen mengisi layar penuh */
}

.home{
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  display: flex;
  justify-content: center;
  width: 230px;
  
}

.home-container {
  display: flex;
  justify-content: space-between;
  height :180px ;
  padding: 40px;
}

.stars {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 6.67em;
  --top-offset: 16.81vh;
  --fall-duration: 10.932s;
  --fall-delay: 2.274s;
}
.star:nth-child(2) {
  --star-tail-length: 5.8em;
  --top-offset: 75.3vh;
  --fall-duration: 9.615s;
  --fall-delay: 0.867s;
}
.star:nth-child(3) {
  --star-tail-length: 7.35em;
  --top-offset: 93.04vh;
  --fall-duration: 6.364s;
  --fall-delay: 4.348s;
}
.star:nth-child(4) {
  --star-tail-length: 6.55em;
  --top-offset: 91.58vh;
  --fall-duration: 10.193s;
  --fall-delay: 1.238s;
}
.star:nth-child(5) {
  --star-tail-length: 7.12em;
  --top-offset: 9.4vh;
  --fall-duration: 10.814s;
  --fall-delay: 9.028s;
}
.star:nth-child(6) {
  --star-tail-length: 5.71em;
  --top-offset: 91.44vh;
  --fall-duration: 10.467s;
  --fall-delay: 8.054s;
}
.star:nth-child(7) {
  --star-tail-length: 5.23em;
  --top-offset: 29.69vh;
  --fall-duration: 9.178s;
  --fall-delay: 1.448s;
}
.star:nth-child(8) {
  --star-tail-length: 6.83em;
  --top-offset: 17.53vh;
  --fall-duration: 8.005s;
  --fall-delay: 3.322s;
}
.star:nth-child(9) {
  --star-tail-length: 6.6em;
  --top-offset: 73.39vh;
  --fall-duration: 11.056s;
  --fall-delay: 6.475s;
}
.star:nth-child(10) {
  --star-tail-length: 6.25em;
  --top-offset: 41.64vh;
  --fall-duration: 11.483s;
  --fall-delay: 3.339s;
}
.star:nth-child(11) {
  --star-tail-length: 5.74em;
  --top-offset: 59.95vh;
  --fall-duration: 11.408s;
  --fall-delay: 9.469s;
}
.star:nth-child(12) {
  --star-tail-length: 7.32em;
  --top-offset: 30.92vh;
  --fall-duration: 9.279s;
  --fall-delay: 3.567s;
}
.star:nth-child(13) {
  --star-tail-length: 6.59em;
  --top-offset: 70.92vh;
  --fall-duration: 9.386s;
  --fall-delay: 9.79s;
}
.star:nth-child(14) {
  --star-tail-length: 5.42em;
  --top-offset: 25.47vh;
  --fall-duration: 7.434s;
  --fall-delay: 3.073s;
}
.star:nth-child(15) {
  --star-tail-length: 5.62em;
  --top-offset: 33.94vh;
  --fall-duration: 11.93s;
  --fall-delay: 1.293s;
}
.star:nth-child(16) {
  --star-tail-length: 6.01em;
  --top-offset: 0.39vh;
  --fall-duration: 6.297s;
  --fall-delay: 4.448s;
}
.star:nth-child(17) {
  --star-tail-length: 5.04em;
  --top-offset: 0.49vh;
  --fall-duration: 7.075s;
  --fall-delay: 0.252s;
}
.star:nth-child(18) {
  --star-tail-length: 7.11em;
  --top-offset: 28.26vh;
  --fall-duration: 6.9s;
  --fall-delay: 2.172s;
}
.star:nth-child(19) {
  --star-tail-length: 5.52em;
  --top-offset: 27.92vh;
  --fall-duration: 9.575s;
  --fall-delay: 0.953s;
}
.star:nth-child(20) {
  --star-tail-length: 7.07em;
  --top-offset: 50.12vh;
  --fall-duration: 9.149s;
  --fall-delay: 0.754s;
}
.star:nth-child(21) {
  --star-tail-length: 5.41em;
  --top-offset: 55.83vh;
  --fall-duration: 11.142s;
  --fall-delay: 1.53s;
}
.star:nth-child(22) {
  --star-tail-length: 6.95em;
  --top-offset: 69.37vh;
  --fall-duration: 10.08s;
  --fall-delay: 9.018s;
}
.star:nth-child(23) {
  --star-tail-length: 6.83em;
  --top-offset: 46.21vh;
  --fall-duration: 7.423s;
  --fall-delay: 4.1s;
}
.star:nth-child(24) {
  --star-tail-length: 7.19em;
  --top-offset: 17.39vh;
  --fall-duration: 7.439s;
  --fall-delay: 7.992s;
}
.star:nth-child(25) {
  --star-tail-length: 6.55em;
  --top-offset: 25.94vh;
  --fall-duration: 6.243s;
  --fall-delay: 8.473s;
}
.star:nth-child(26) {
  --star-tail-length: 5.74em;
  --top-offset: 44.26vh;
  --fall-duration: 11.322s;
  --fall-delay: 9.828s;
}
.star:nth-child(27) {
  --star-tail-length: 7.42em;
  --top-offset: 48.42vh;
  --fall-duration: 10.174s;
  --fall-delay: 8.089s;
}
.star:nth-child(28) {
  --star-tail-length: 6.04em;
  --top-offset: 17.54vh;
  --fall-duration: 6.807s;
  --fall-delay: 2.311s;
}
.star:nth-child(29) {
  --star-tail-length: 5.18em;
  --top-offset: 0.09vh;
  --fall-duration: 7.154s;
  --fall-delay: 7.355s;
}
.star:nth-child(30) {
  --star-tail-length: 5.65em;
  --top-offset: 52.32vh;
  --fall-duration: 11.195s;
  --fall-delay: 6.091s;
}
.star:nth-child(31) {
  --star-tail-length: 6.65em;
  --top-offset: 63.08vh;
  --fall-duration: 11.719s;
  --fall-delay: 3.712s;
}
.star:nth-child(32) {
  --star-tail-length: 6.13em;
  --top-offset: 11.68vh;
  --fall-duration: 10.058s;
  --fall-delay: 1.47s;
}
.star:nth-child(33) {
  --star-tail-length: 5.24em;
  --top-offset: 8.04vh;
  --fall-duration: 10.952s;
  --fall-delay: 3.094s;
}
.star:nth-child(34) {
  --star-tail-length: 7.3em;
  --top-offset: 28.36vh;
  --fall-duration: 8.848s;
  --fall-delay: 5.876s;
}
.star:nth-child(35) {
  --star-tail-length: 6.14em;
  --top-offset: 83.02vh;
  --fall-duration: 10.652s;
  --fall-delay: 0.897s;
}
.star:nth-child(36) {
  --star-tail-length: 7.41em;
  --top-offset: 31.7vh;
  --fall-duration: 11.966s;
  --fall-delay: 5.325s;
}
.star:nth-child(37) {
  --star-tail-length: 5.52em;
  --top-offset: 7.02vh;
  --fall-duration: 8.429s;
  --fall-delay: 7.53s;
}
.star:nth-child(38) {
  --star-tail-length: 7.16em;
  --top-offset: 62.57vh;
  --fall-duration: 11.892s;
  --fall-delay: 7.902s;
}
.star:nth-child(39) {
  --star-tail-length: 6.41em;
  --top-offset: 72.6vh;
  --fall-duration: 8.241s;
  --fall-delay: 6.319s;
}
.star:nth-child(40) {
  --star-tail-length: 5.16em;
  --top-offset: 63.98vh;
  --fall-duration: 10.398s;
  --fall-delay: 0.493s;
}
.star:nth-child(41) {
  --star-tail-length: 6.63em;
  --top-offset: 55.65vh;
  --fall-duration: 11.864s;
  --fall-delay: 2.446s;
}
.star:nth-child(42) {
  --star-tail-length: 7.04em;
  --top-offset: 33.42vh;
  --fall-duration: 8.942s;
  --fall-delay: 4.894s;
}
.star:nth-child(43) {
  --star-tail-length: 7.04em;
  --top-offset: 56.75vh;
  --fall-duration: 6.982s;
  --fall-delay: 0.163s;
}
.star:nth-child(44) {
  --star-tail-length: 6.66em;
  --top-offset: 94.35vh;
  --fall-duration: 7.816s;
  --fall-delay: 1.299s;
}
.star:nth-child(45) {
  --star-tail-length: 5.2em;
  --top-offset: 6.7vh;
  --fall-duration: 11.68s;
  --fall-delay: 4.723s;
}
.star:nth-child(46) {
  --star-tail-length: 7.07em;
  --top-offset: 70.44vh;
  --fall-duration: 7.618s;
  --fall-delay: 6.214s;
}
.star:nth-child(47) {
  --star-tail-length: 6.97em;
  --top-offset: 73.83vh;
  --fall-duration: 10.885s;
  --fall-delay: 2.383s;
}
.star:nth-child(48) {
  --star-tail-length: 6.6em;
  --top-offset: 22.99vh;
  --fall-duration: 8.796s;
  --fall-delay: 8.226s;
}
.star:nth-child(49) {
  --star-tail-length: 5.74em;
  --top-offset: 72.02vh;
  --fall-duration: 8.261s;
  --fall-delay: 2.075s;
}
.star:nth-child(50) {
  --star-tail-length: 5.35em;
  --top-offset: 44.1vh;
  --fall-duration: 6.596s;
  --fall-delay: 7.897s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}