@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  * {
    @apply transition-colors duration-0;
  }

  body {
    @apply bg-primary-light text-gray-900 dark:bg-dark-primary dark:text-dark-text-primary;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }

  .section {
    @apply py-16 md:py-20 lg:py-24 snap-start ;
  }

  .btn {
    @apply inline-flex items-center justify-center px-6 py-3 rounded-full font-medium transition-all duration-300;
  }

  .btn-primary {
    @apply bg-gray-900 text-white hover:bg-gray-600 dark:bg-dark-primary dark:hover:bg-gray-900;
  }

  .btn-secondary {
    @apply border border-gray-300 text-gray-700 hover:bg-gray-50 dark:border-gray-700 dark:text-dark-text-secondary dark:hover:bg-dark-card;
  }

  .card {
    @apply bg-white dark:bg-dark-card border border-gray-200 dark:border-gray-800 rounded-2xl;
  }

  .card-hover {
    @apply hover:shadow-xl hover:-translate-y-1 transition-all duration-300;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

